<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>pngdata/honorlottery/holottery1.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,958},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>pngdata/honorlottery/holottery2.png</key>
			<dict>
				<key>frame</key>
				<string>{{709,941},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>honor/addfriends.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,314},{136,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,26}</string>
			</dict>
			<key>honor/centre.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,720},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>honor/collcetreward.png</key>
			<dict>
				<key>frame</key>
				<string>{{631,915},{168,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,24}</string>
			</dict>
			<key>honor/freepackbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,330},{316,296}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{316,296}</string>
			</dict>
			<key>honor/freepacks.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,287},{147,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{147,25}</string>
			</dict>
			<key>honor/honorbtn_g.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,915},{108,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,100}</string>
			</dict>
			<key>honor/honoricon_m.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,915},{66,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,52}</string>
			</dict>
			<key>honor/honorpackbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,342},{376,296}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{376,296}</string>
			</dict>
			<key>honor/honorpacks.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,915},{178,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{178,25}</string>
			</dict>
			<key>honor/honorwheel.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,958},{302,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{302,52}</string>
			</dict>
			<key>honor/hopro.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,915},{224,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,34}</string>
			</dict>
			<key>honor/hoprobg.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,915},{222,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{222,32}</string>
			</dict>
			<key>honor/level_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{709,997},{86,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,23}</string>
			</dict>
			<key>honor/level_o.png</key>
			<dict>
				<key>frame</key>
				<string>{{139,314},{86,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,23}</string>
			</dict>
			<key>honor/levelbg_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,958},{200,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,56}</string>
			</dict>
			<key>honor/levelbg_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,958},{200,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,56}</string>
			</dict>
			<key>honor/spin.png</key>
			<dict>
				<key>frame</key>
				<string>{{958,863},{93,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,51}</string>
			</dict>
			<key>honor/titlebg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{779,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{779,154}</string>
			</dict>
			<key>honor/vsicon.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,287},{63,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,43}</string>
			</dict>
			<key>honor/wan.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,287},{54,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,41}</string>
			</dict>
			<key>pngdata/honorlottery/holottery3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,720},{159,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{161,209}</string>
			</dict>
			<key>honor/gifticon.png</key>
			<dict>
				<key>frame</key>
				<string>{{342,157},{119,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,117}</string>
			</dict>
			<key>honor/honorrewardtxt.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,320},{593,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{593,44}</string>
			</dict>
			<key>honor/playwithfritxt.png</key>
			<dict>
				<key>frame</key>
				<string>{{958,320},{541,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{541,44}</string>
			</dict>
			<key>honor/addfriendbtn.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,1},{317,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{317,110}</string>
			</dict>
			<key>honor/honorframebg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,1},{339,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{339,128}</string>
			</dict>
			<key>honor/honorframebg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,157},{339,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{339,128}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>honorplist.png</string>
			<key>realTextureFileName</key>
			<string>honorplist.png</string>
			<key>size</key>
			<string>{1023,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1023</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>